<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.editors">
      <editor
            name="ActionScriptProperties Editor"
            extensions=".actionScriptProperties"
            icon="icons/sample.gif"
            contributorClass="test.editors.MultiPageEditorContributor"
            class="de.bokelberg.flashbuilder.aca.editors.MultiPageEditor"
            id="de.bokelberg.flashbuilder.aca.editors.MultiPageEditor">
      </editor>
   </extension>

</plugin>
